# Ignore all directories except a few
/*

!docs/
!docs/**
!example_iceland/
!example_iceland/**
!example_london/
!example_london/**
!src/
!src/**

*py[cod]
*.log
*.html
*.ipynb_checkpoints/
.idea/
__pycache__/

.DS_Store
Thumbs.db

# Keep specific files
!.gitignore
!README.md
!environment.yaml
